/* ================= FONTS ================= */

@font-face {
  font-family: 'sf';
  src: url('/fonts/sf.otf') format('opentype');
}

/* ================= PC ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #ffffff, #e9e9e9);
  font-family: 'sf';
}

.login-container {
  width: 100%;
  max-width: 420px;
  background: #ffffff;
  padding: 2.8rem 2.6rem;
  border-radius: 20px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.18);
  text-align: center;
}

.login-container h1 {
  font-family:'Times New Roman';
  font-size: 30px;
  letter-spacing: 4px;
  color: #111;
  font-weight: lighter;
  margin-bottom: 0.4rem;
}

.subtitle {
  font-size: 20px;
  font-family: 'Times New Roman';
  letter-spacing: 4px;
  margin-bottom: 30px;
  color: #4169E1;
}

.login-container input {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 1rem;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  outline: none;
  transition: 0.25s;
}

.login-container input:focus {
  border-color: black;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

.login-container button {
  width: 100%;
  padding: 14px;
  margin-top: 0.8rem;
  border-radius: 999px;
  border: none;
  background: #4169E1;
  color: white;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.1s;
}

.login-container button:hover {
  background: black;
}

.login-container button:active {
  transform: scale(0.98);
}

.footer-text {
  margin-top: 2.2rem;
  font-size: 12px;
  color: #aaa;
  letter-spacing: 2px;
}

.error {
  margin-top: 0.8rem;
  color: #c0392b;
  font-size: 13px;
}

/* ================= PHONE ================= */

@media (max-width: 480px) {
  .login-container {
    margin: 1rem;
    padding: 2.2rem;
  }
}
